.nl-family-description-vanguard {
    margin-bottom: 20px;

    p {
        font-family: "Poppins-ExtraLight";
        font-weight: 200;
        font-size: 12px;
        line-height: 18px;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.2;
        border: 0;
    }
}
